body {
    background-color:  #fffbf7;
    margin: 0;
}

h1 {
    color: #025157;
    font-family: 'Alegreya', serif;
    font-weight: 500;
    font-size: 60px;
}

h4 {
    color: #46484c;
} 

p {
    color: #8b88bc
}

.header {
    margin: 40px 20px 0;
    font-size: 0;
}

.header li {
    display: inline;
}