body {
    background-color:  #fffbf7;
    margin: 0;
}

h1 {
    color: #025157;
    font-family: 'Alegreya', serif;
    font-weight: 900;
    font-size: 60px;
}

h4 {
    color: #46484c;
} 

p {
    color: #8b88bc
}

button {
    color: #fff;
    background-color: #025157;
}

.header {
    margin: 40px 20px 0;
    font-size: 0;
}

.header li {
    display: inline;
    margin: 0 20px;
}

.main {
    margin: 285px 0 20px;
    text-align: center;
}

.main .segundaimagen {
    text-align: center;
    width: 70%;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 40px;
}

.logo {
    width: 20%;
}

.logo > img {
    height: 100%;
}

.navbar {
    width: 60%;
    text-align: center;
    color: #025157;
    font-weight: 600;
}

.actions{
    width: 20%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}

.publish {
    flex: 1;
}

.publish h3 {
    color: #025157; 
    font-family: 'Alegreya', serif;
    font-size: 40px;
    line-height: 48px;
}

.publish > p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
}

.publish .publish-text{
    display: flex;
}

.publish .publish-text{
    display: flex;
}   